<main>
    <div class="profileTop">
        <div class="profileCoverImg">
            <img src="https://i.pinimg.com/originals/be/c2/04/bec204e648af50f69bc63eb78dd8daa3.png" alt="?">
        </div>
        <div class="profilePicture">
            <div></div>
            <img src="https://i.pinimg.com/originals/de/6f/2d/de6f2d475d8de984cb0760be479f1018.jpg" alt="?">
        </div>
        <div class="profileName">
            <h1>eMatsu98</h1>
        </div>
    </div>
    <form (submit)="profilePicture()">
        <!-- <input type="text" name="refresh" placeholder="Refresh..."> -->
        <button>Refresh</button>
    </form>
    <p>this.text = {{text}}</p>
</main>
