@import '/src/variables.scss';

main{
    margin: 50px;
}
.user{
}
.cards{
}

.profileTop{
    height: 380px;
    display: block;
    position: relative;
    >.profileCoverImg{
        background-color: $secondary;
        display: inline-block;
        position: absolute;
        height: 230px;
        width: 100%;
        >img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: 0% 9%;
        }
    }
    >.profilePicture{
        margin: 20px;
        top: 130px;
        display: inline-block;
        position: relative;
        >img{
            height: 200px;
            width: 200px;
            border-radius: 50%;
            outline: 5px solid $secondary-dark;
            object-fit: cover;
            object-position: 50% 50%;
        }
        >div{
            position: absolute;
            height: 200px;
            width: 200px;
            border-radius: 50%;
        }
    }
    >.profileName{
        display: inline-block;
        position: relative;
        top: 50px;
        h1{
            display: inline-block;
            font-size: 300%;
            top: 0;
        }
    }
    >.profileEdit{
        position: relative;
        display: inline-block;
        top: 100px;
        right: 260px;
        >button{
            color: $secondary;
            border: solid 2px $secondary;
            background-color: $primary-dark;
            border-radius: 5px;
        }
        :hover{
            color: $main;
            cursor: pointer;
        }
    }
}
.cards{
    .big{
        .card{
            position: relative;
            background-color: $main8;
            margin: auto;
            display: inline-block;
            margin: 50px 20px;
            height: 250px;
            width: 250px;
            border-radius: 20px;
            >.pokemon{
                margin: auto;
                padding: 50px;
                display: inline;
                position: relative;
                >p{
                    text-align: center;
                    font-size: larger;
                    font-weight: bold;
                }
                >img{
                    height: 200px;
                }
            }
        }
    }
}