@import '/src/variables.scss';

main{
    margin: 50px;
}
.user{
    @include testW;
}
.cards{
    @include testW;
}

.profileTop{
    height: 380px;
    display: block;
    position: relative;
    @include testW;
    >.profileCoverImg{
        @include testW;
        background-color: $secondary;
        display: inline-block;
        position: absolute;
        height: 230px;
        width: 100%;
        >img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: 0% 9%;
        }
    }
    >.profilePicture{
        @include testW;
        margin: 20px;
        top: 130px;
        display: inline-block;
        position: relative;
        >img{
            height: 200px;
            width: 200px;
            border-radius: 50%;
            outline: 5px solid $secondary-dark;
            object-fit: cover;
            object-position: 50% 50%;
        }
        >div{
            position: absolute;
            height: 200px;
            width: 200px;
            border-radius: 50%;
        }
    }
    >.profileName{
        @include testW;
        display: inline-block;
        position: relative;
        top: 50px;
        h1{
            display: inline-block;
            font-size: 300%;
            top: 0;
        }
    }
    >.profileEdit{
        position: relative;
        display: inline-block;
        top: 100px;
        right: 260px;
        >button{
            color: $secondary;
            border: solid 2px $secondary;
            background-color: $primary-dark;
            border-radius: 5px;
        }
        :hover{
            color: $main;
            cursor: pointer;
        }
    }
}
.cards{
    .big{
        display: inline-block;
        @include testW;
        .card{
            position: relative;
            margin: auto;
            display: inline;
            @include testW;
            >.pokemon{
                @include testB;
                margin: 20px;
                background-color: red;
                display: inline;
                position: relative;
            }
        }
    }
    img{
        height: 200px;
    }
}