<main>
    <div class="user">
        <div class="profileTop">
            <div class="profileCoverImg">
                <img src="{{usr.backgroundUrl}}" alt="?">
            </div>
            <div class="profilePicture">
                <div></div>
                <img src="{{usr.photoUrl}}" alt="?">
            </div>
            <div class="profileName">
                <h1>{{usr.name}}</h1>
            </div>
            <div class="profileEdit">
                <button (click)="openDialog()"><mat-icon fontIcon="build"></mat-icon></button>
                <button class="socket" (click)="shared()">socket</button>
            </div>
        </div>
        <!-- <form (submit)="profilePicture()">
            <!-- <input type="text" name="refresh" placeholder="Refresh..."> 
            <button>Refresh</button>
        </form>
        <!-- <p>this.text = {{text}}</p> -->
    </div>
    <div class="cards">
        <div class="big" *ngFor="let pkmn of usr.pokemon">
            <div class="cardL">
                <div class="pokemon">
                    <p>{{pkmn[0]}}</p>
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{pkmn[0]}}.png" alt="">
                </div>
            </div>
            <div class="cardR">
                <div class="pokemon">
                    <p>{{pkmn[1]}}</p>
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{pkmn[1]}}.png" alt="">
                </div>
            </div>
        </div>
    </div>
</main>
