# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/pokestore/node_modules
/pokestore/npm-debug.log
/pokestore/yarn-error.log

/pokestore-api/node_modules

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/pokestore/.angular/cache
/pokestore/.sass-cache/
/pokestore/connect.lock
/pokestore/coverage
/pokestore/libpeerconnection.log
/pokestore/testem.log
/pokestore/typings

# System files
.DS_Store
Thumbs.db
