<main>
    <div class="account">
        <h1>SIGN UP</h1>
        <div class="icons">
            <div>
                <script src="https://accounts.google.com/gsi/client" async defer></script>
                <div id="g_id_onload"
                   data-client_id="544901441477-vl5r75anujvuvbegij621h7j07ug6nua.apps.googleusercontent.com"
                   
                   data-auto_prompt="false">
                </div>
                <div class="g_id_signin"
                   data-type="standard"
                   data-size="large"
                   data-theme="outline"
                   data-text="sign_in_with"
                   data-shape="rectangular"
                   data-logo_alignment="left">
                </div>
            </div>
        </div>
        <p>Already have an account? <a href="/login">LOGIN</a></p>
    </div>
</main>