@import '/src/variables.scss';

main{
    margin: 50px;
    >.account{
        background-color: $primary-dark;
        border-radius: 15px;
        margin: auto;
        width: 420px;
        height: 480px;
        padding: 40px;

        >h1{
            font-weight:  500;
            font-size: 300%;
            text-align: center;
            // margin-bottom: 150px;
        }

        >.icons{
            >div{
                height: 30px;
                width: 250px;
                margin: 200px auto;
                
            }
        }
        p{
            text-align: center;
        }
    }
}