<header>
    <div class="pokeheader">
        <div routerLink="pokemon" class="logo">
            <div (mouseenter)="rotate()" (mouseleave)="rotate()">
                <img class="pokelogo" src="./assets/img/pokelogo.png" alt="img">
                <img class="pokeball" src="./assets/img/pokeball.png" alt="img" [@rotatedState]='state'>
                <img class="storeball" src="./assets/img/pokeball.png" alt="img" [@rotatedState]='state'>
            </div>
                <!-- <img class="pokestore" src6="./assets/img/pokestore.png" alt="img"> -->
        </div>
        <div class="search-bar">
            <div>
                <form action="/action_page.php">
                    <input type="text" placeholder="Search for a trade!" name="search">
                    <button type="submit"><mat-icon fontIcon="search"></mat-icon></button>
                </form>
            </div>
        </div>
        <div class="nav"> 
            <ul>
                <li>
                    <a href="{{id}}">Profile</a>
                </li>
                <li>
                    <a href="/login">Login</a>
                </li>
                <li>
                    <a href="">Favorites</a>
                </li>
            </ul>
        </div>
    </div>
    
</header>