@import '/src/variables.scss';

header {
height: 100px;
width: 100%;
color: $secondary;
line-height: 80px;
box-sizing: border-box;
background-color: $primary-dark;
}

.pokeheader{
    margin: auto;
    width: 60%;
}

.logo{
    height: 100px;
    padding: auto;
    display: inline-block;
    width: 16%;
    margin: 0;
    >div{
        // margin: 20px 20px 40px 20px;
        position: relative;
        display: block;
        height: 50px;
        width: 80px;
        margin: auto;
        top: 29px;
        &:hover{
            cursor: pointer;
        }
        >img {
            position: relative;
            display: block;
            margin: auto;
            // filter: grayscale(100%) brightness(10) saturate(10);
            &.pokelogo {
                height: 40px;
                top: 5px;
            }
            &.pokeball {
                height: 17px;
                bottom: 34px;
                right: 5px;
            }
            &.storeball {
                height: 17px;
                bottom: 30px;
                right: 1px;
            }
            &.pokestore {
                height: 40px;
                bottom: 40px;
            }
        }
    }
}


.search-bar{
    display: inline-block;
    position: relative;
    width: 58%;
    top: -40px;
    margin: auto;
    // border: 2px solid rgb(0, 0, 0, 0.4);
    >div{
        position: relative;
        display: block;
        margin: auto;
        width: 90%;
        // border: 2px solid rgb(0, 0, 0, 0.4);
        input{
            width: 90%;
            height: 30px;
            top: 250px; 
        }
        button{
            display: inline;
            position: relative;
            top: 6px;
            height: 36px;
        }
    }
}

.nav{
    display: inline-block;
    position: relative;
    top: -45px;
    width: 24%;
    left: 0;
}

ul {

    list-style: none;
    margin: 0;

    li {
        display: inline-block;
        margin-left: 10px;
        a{
            color: $secondary;
        }
    };
}

