// border: 2px solid rgb(0, 0, 0, 0.4);

header {
height: 100px;
width: 100%;
background-color: #62C8E0;
color: rgb(35, 35, 35);
line-height: 80px;
box-sizing: border-box;
}

.pokeheader{
    margin: auto;
    width: 60%;
}

.pokelogo{
    height: 100px;
    padding: auto;
    display: inline-block;
    width: 16%;
    margin: 0;
    &:hover{
        cursor: pointer;
    }
}

img {
    position: relative;
    display: block;
    margin: auto;
    &.pokeball {
        height: 60px;
        top: 10px;
    }
    &.pokestore {
        height: 40px;
        top: -15px;
    }
}

.search-bar{
    display: inline-block;
    position: relative;
    width: 58%;
    top: -40px;
    margin: auto;
    // border: 2px solid rgb(0, 0, 0, 0.4);
    >div{
        position: relative;
        display: block;
        margin: auto;
        width: 90%;
        // border: 2px solid rgb(0, 0, 0, 0.4);
        input{
            width: 90%;
            height: 30px;
            top: 250px; 
        }
        button{
            display: inline;
            position: relative;
            top: 6px;
            height: 36px;
        }
    }
}

.nav{
    display: inline-block;
    position: relative;
    top: -45px;
    width: 24%;
    left: 0;
}

ul {

    list-style: none;
    margin: 0;

    li {
        display: inline-block;
        margin-left: 10px;

        a {
            color: rgb(35, 35, 35);
        }
    };
}

