<header>
    <div class="pokeheader">
        <div routerLink="pokemon" class="pokelogo" (mouseenter)="rotate()" (mouseleave)="rotate()">
            <img class="pokeball" src="./assets/img/pokeball.png" alt="img" [@rotatedState]='state'>
            <img class="pokestore" src="./assets/img/pokelogo.png" alt="img">
        </div>
        <div class="search-bar">
            <div>
                <form action="/action_page.php">
                    <input type="text" placeholder="Search for a trade!" name="search">
                    <button type="submit"><mat-icon fontIcon="search"></mat-icon></button>
                </form>
            </div>
        </div>
        <div class="nav"> 
            <ul>
                <li>
                    <a href="">Profile</a>
                </li>
                <li>
                    <a href="">My trades</a>
                </li>
                <li>
                    <a href="">Favorites</a>
                </li>
            </ul>
        </div>
    </div>
    
</header>