@import '/src/variables.scss';

main{
    margin: 50px;
    >.account{
        background-color: $primary-dark;
        border-radius: 15px;
        margin: auto;
        width: 420px;
        height: 480px;
        padding: 40px;

        >.text{
            height: 80px;
            font-size: 22px;
            font-weight: 500;
            background-color: $main;
            margin-bottom: 20px;
            border-radius: 20px;
            >h1{
                position: relative;
                top: 25px;
                color: $secondary;
                font-weight:  500;
                font-size: 150%;
                text-align: center;
            }
        }

        >.icons{
            >div{
                height: 80px;
                width: 250px;
                margin: 120px auto 200px auto;
                >.btn{
                    width: 32px;
                    margin: auto;
                    position: relative;
                }
            }
        }
        p{
            text-align: center;
        }
    }
}