@import '/src/variables.scss';

main{
    margin: 50px;
    >.account{
        background-color: $primary-dark;
        border-radius: 15px;
        margin: auto;
        width: 420px;
        height: 480px;
        padding: 40px;

        >h1{
            font-weight:  500;
            font-size: 300%;
            text-align: center;
            // margin-bottom: 150px;
        }

        >.icons{
            >div{
                height: 80px;
                width: 250px;
                margin: 120px auto 200px auto;
                >.text{
                    height: 80px;
                    font-size: 22px;
                    font-weight: 500;
                    background-color: $main;
                    margin-bottom: 20px;
                    border-radius: 20px;
                    >p{
                        position: relative;
                        top: 30px;
                        color: $secondary;
                    }
                }
                >.btn{
                    width: 32px;
                    margin: auto;
                    position: relative;
                }
            }
        }
        p{
            text-align: center;
        }
    }
}