<main>
  <div class="account">
    <div class="login">
      <div class="text">
        <h1>LOGIN</h1>
      </div>
      <h2>Email</h2>
      <form class="example-form">
        <label> Email                    </label>
        <input type="text" name="email">
        <br>
        <label>Password</label>
        <input type="text" name="Password">
      
      <button (click)="login(user)" mat-raised-button>LOGIN</button>
    </form>
      <hr>
      <h4>OR</h4>
    </div>
    <div class="icons">
      <div>
        <div class="btn">
          <asl-google-signin-button></asl-google-signin-button>
        </div>
      </div>
    </div>
  </div>
</main>
