@import '/src/variables.scss';


.mat-drawer-container{
  background-color: $primary;
}

mat-sidenav {
  width: 15%;
  background: linear-gradient(90deg, $main5 0%, $main2 100%);
  @include border-radius;
  border-right: 1px solid $primary;
  // background: $main5;
  color: $main;
}

mat-sidenav-content{
  color: $secondary-dark;
  border: 0px solid $primary-dark;
  background-color: $primary;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  >.side-button{
    position: absolute;
    display: inline;
    background-color: $primary;
    height: 100%;
    @include border-radius;
    width: 35px;
    &:hover{
      // background-color: $main;
      background: linear-gradient(90deg, $main5 0%, $main2 100%);
      
      cursor: pointer;
    }
  }
}

