@import '/src/variables.scss';

footer {
    height: 80px;
    line-height: 80px;
    box-sizing: border-box;
    text-align: center;
    color: $light;
    border-top: 1px solid $dark;
    background-color: $darker;
}