/* You can add global styles to this file, and also import other style files */
@import './variables';

body{
    color: $secondary-dark;
    background-color: $primary-dark;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
html, body { height: 100%; }

a{
    color: $primary;
    cursor: pointer;
    &:visited{
        color: $main8;
    }
    &:hover{
        color: $main5;
    }
    &:active{
        color: $secondary;
    }
}